* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #2f3640;
  /* border: 1px solid black; */
}

/*==========================
  Header
==========================*/
.header {
  display: flex;
  align-items: center;
  background-color: #fff9f0;
}

.logo {
  flex: 5 1 400px;
}

.logo img {
  width: 15vmin;
  margin: 0.25rem 1rem;
}

.nav {
  flex: 3 1 400px;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav ul li a {
  text-decoration: none;
  font-size: 3vmin;
  font-weight: 600;
}

.nav ul li a:hover {
  color: #ed4c67;
}

.menuBtn {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 100;
}

.burger img {
  display: none;
}

#menu.open > .menuBtn > .burger > img {
  display: none;
}

.close img {
  display: none;
  width: 8vmin;
}

#menu.open > .menuBtn > .close > img {
  display: block;
  margin-right: 15px;
}

.welcomemsg {
  background: url("/img/bg-body.gif") repeat;
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.welcomemsg h1 {
  font-size: 8vmin;
  font-style: italic;
}

.sideMenu {
  position: fixed;
  top: 0px;
  right: -300px;
  width: 30vmin;
  height: 100%;
  background-color: #ecf0f1;
  transition: all 0.3s;
  z-index: 10;
}

#menu.open > .sideMenu {
  right: 0px;
}

.sideNav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.sideNav li {
  list-style: none;
  display: flex;
  height: 10%;
}

.sideNav li a {
  text-decoration: none;
  color: #373637;
  font-size: 5vmin;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s;
}

.sideNav li a:hover {
  color: #40739e;
  transform: scale(1.1);
}

/*==========================
  main
==========================*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h2 {
  font-size: 5vmin;
  color: #273c75;
  font-style: italic;
  margin-top: 4vmin;
  margin-bottom: 2vmin;
}

.character {
  display: flex;
  border-radius: 10px;
  background-color: #dcdde1;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  padding-right: 0.5rem;
}

.character img {
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  padding: 0.75rem;
}

.pro h4 {
  font-size: 4vmin;
  padding-left: 1vmin;
  margin-bottom: 0.5rem;
}
.pro p {
  font-size: 2vmin;
  padding-left: 1vmin;
}

.btn {
  margin-top: 8vmin;
  margin-bottom: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a {
  text-decoration: none;
  background-color: #c7ecee;
  border-radius: 5px;
  padding: 1.5vmin 2.5vmin;
  font-size: 3vmin;
  font-weight: 600;
  color: #273c75;
}

.more {
  display: none;
  flex-direction: column;
  margin: 4vmin 0;
}

/*==========================
  media query
==========================*/

@media (min-width: 500px) {
  .container {
    display: flex;
  }
  .character {
    flex: 1;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .burger img {
    display: flex;
    width: 10vmin;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 80%;
    width: 1200px;
  }
}
